.Grid-First {
  height: 1024px;
 
  background: rgba(182, 201, 206, 0.62);
}
.first-div-g {
  width:480px;
  
}
.image-first {
  width: 467px;
  height: 467px;
  margin-top: 207px;
 /* margin-left: 100px; */
}
.heading-first-g {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  text-align: start;
  color: #ffffff;
  /* margin-left: 100px; */
 
}
.heading-second-g{
  font-size: 26px;
 
  

}
.para-first-g {
  width: 90%;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fdfdfd;
  /* margin-left: 100px; */
}
.Grid-Second {
  background: #ffffff;
}
.image-second {
  width: 430.29px;
  height: 321px;
  margin-top: 24px;
}
.form-style {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 300px;


 
}
.div-form {
  width: 340px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #53c352;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 17px;
  padding-right: 15px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: auto;
  margin-right: auto;
}
.div-form1 {
  width: 340px;
  height: 105px;
  background: #ffffff;
  border: 1px solid #53c352;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 15px;
  padding-top: 20px;
  transition: all 0.5s;
}
.div-span-form {
  display: none;
}
.div-span-form1 {
  width: 44px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 30px;
  color: #959595;
  cursor: pointer;
}
.div-span-value {
  width: 44px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #959595;
}
.textfield-Writer {
  width: 340px;
  height: 45px;
  background: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #959595;
  border-radius: 10px;
  border: 1px solid #53c352;
  margin-top: 15px;
  padding-left: 17px;
  padding-right: 15px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
}
.button-submit-sign {
  width: 340px;
  height: 45px;
  background: #53c352;
  border-radius: 10px;
  text-align: center;
  margin-top: 22px;
  color: #ffffff;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1024px){
  .first-div-g{
    width: 400px;
  }
  .image-first{
    width: 400px;
    height: 400px;
  }
  .div-form {
    justify-self: center;
    width: 300px;
  }
  .div-form1{
    width: 300px;
  }
  .textfield-Writer{
    width: 300px;
  }
  .button-submit-sign{
    width: 300px;

  }
 
 
}


  

@media only screen and (max-width: 768px){
  .Grid-First{
    height: 800px;
  }
  .image-first{
   margin-top: 100px;
  }
  .div-form1{
    width: 300px;
    
  }
 


 

}







@media only screen and (max-width: 425px){
   .Grid-First{
    height: 600px;
  }
  .first-div-g{
    width: 300px;
  }
  .image-first{
   width: 300px;
   height: 300px;
  }
  .image-second{
    width: 300px;
    height: 300px;

  }
 
  .para-first-g {
    font-size: 8px;
    line-height: 10px;
  }
  .div-form{
    width: 300px;
   height: 40px;
 
 
  }
  .textfield-Writer {
    width: 300px;
   height: 40px;
  }
  .button-submit-sign{
    width: 290px;
   height: 40px;
  }



  


   

}



@media only screen and (max-width: 375px){
  .Grid-First{
    height: 500px;
  }
  .first-div-g{
    width: 250px;
  }
   .image-first{
    width: 250px;
    height: 250px;
  }
  .image-second{
    width: 250px;
    height: 250px;
  }
  .para-first-g {
    font-size: 8px;
  }
  .heading-first-g{
    font-size: 15px;
  }
  .div-form{
    width: 300px;
  height: 35px;

  }
  .textfield-Writer {
    justify-self: flex-start;
   height: 35px;
   width:300px ;
  }
  .button-submit-sign{
    width: 300px;
    height: 35px;
  }
  

  
}


@media only screen and (max-width: 320px){
  .Grid-First{
    height: 400px;
  }
  .first-div-g{
    width: 166.57px;
  }
  .image-first{
    width: 166.57px;
    height: 166.57px;
   
  
 }
 .image-second{

  width: 240px;
 
 } 
  
  .heading-first-g {
    font-size: 10px;

  }
 .para-first-g {
  font-size: 5px;
  line-height: 6px;
 
 

}
.form-style {

  width: 240px;


 
}
 .div-form{
  width: 240px;
  height: 32px;
 }
 .textfield-Writer {
  width: 240px;
  height: 32px;
 }
 .button-submit-sign{
  width: 240px;
  height: 30px;
 }

}



