.Grid-container{
  padding-top: 10px;
  padding-bottom: 10px;
}
.NAv-head {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 18px;
  color: #53c352;
}
.NAV-a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 20%;
  padding-left: 20%;
}
.NAV-a a {
  text-decoration: none;
  /* margin-left: 20px; */
  font-size: 16px;
  color: #6d6a6a;
}
.NAv-btn {
  width: 80px;
  height: 40px;
  background-color: #53c352;
  border-radius: 10px;
  border: none;
  color: white;
  margin-left: 10px;
}
.BTn-div {
  margin-top: 20px;
}
.Profile-Writer-head {
  display: flex;
  width: auto;
  justify-content: space-between;
  cursor: pointer;
  padding-right: 6%;
}
.Profile-Writer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: auto;
}
.Profile-Writer-img {
  width: 50px;
  height: 50px;
}
.Profile-Writer-Arrow {
  width: 30px;
  height: 20px;
}
.Profile-Writer-button {
  width: 126px;
  height: 44px;
  background: #53c352;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: none;
}
.dropdown-list-W {
  position: absolute;
  width: 245px;
  height: 210px;
  left: -10%;
  top: 120%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.dropdown-list-W ul li img {
  width: 15.83px;
  height: 18.33px;
}
.dropdown-list-W ul li {
  list-style: none;
  height: 40px;
  width: 100%;
  padding-left: 18px;
  border-bottom: 1px solid #b2f4b2;
  display: flex;
  align-items: center;
}
.dropdown-list-W ul li span,.dropdown-list-W ul li a {
  padding-left: 28px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #7c7c7c;
  text-decoration: none;
}

.mobile-view{
    top: 10%;
    
    background-color:#ffffff;
    height: 100%;
    width: 100%;
   
  }


.mobile-Nav li{
     font-weight: 600;
     font-size: 16px;
     line-height: 40px;
     list-style: none;
     

}
.M-Home{
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    list-style: none;
    color:  #53C352;;
    text-align: center;

}
.M-feature{
   /* margin-left: -12px; */
   text-align: center;
   font-weight: 600;
   font-size: 16px;
   line-height: 40px;
   list-style: none;
} 
.M-Contact{
    /* margin-left: -18px; */
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    list-style: none;

}  
.M-Button {
    
    width: 186px;
   height: 44px;
   background: #53C352;
   border-radius: 10px;
   /* margin-left: -65px; */
  
   border: none;
   color: white;
    margin-bottom: 20px;
}
.nav-div-btn{
  color: #53C352;

 

}
.nav-head-btn{
  text-align: center;
}


@media only screen and (max-width: 1024px){
    
    .NAV-a{
        margin-left: 80px;
    }
    .NAv-btn {
        width: 60px;
        height: 35px;
    }
}

@media only screen and (max-width: 320px){
  .nav-div-btn{
    margin-left: 10px;
  }
}
